.Home {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.Login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    cursor: pointer;
    height: 50px;
    width: 300px;
    background-color: #1db954;
    border: none;
    border-radius: 50px;

    &:hover {
      background-color: #1ed760;
    }

    a {
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
}
