.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 500px;
  padding: 10px 20px;
  width: 150px;
  height: 30px;

  * {
    font-size: 16px;
    color: #333;
  }

  img {
    width: 15px;
  }

  &--square {
    height: 100%;
    width: 100%;
    border-radius: 0;
    padding: 0;
  }

  &--black {
    background: #252525;
    color: #fff;
  }

  &--green {
    background: #1db954;
    color: #fff;
  }
}
