.Cover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  border-radius: 30px;
}

.Cover--square {
  border-radius: 0 !important;
}

.Cover--rounded {
  border-radius: 999px;
}

.Cover--large {
  height: 300px;
  width: 300px;
}

// Default style applied to the cover
.Cover--medium {
  height: 200px;
  width: 200px;
}

.Cover--small {
  height: 60px;
  width: 60px;
  border-radius: 10px;
}
