.Container {
  height: calc(100vh - 60px); // 80px = top + bottom padding
  margin-left: 220px; // 220px SideBar width, so the content starts right after
  overflow-y: scroll;
  overflow-x: hidden;

  &__content {
    padding: 40px 0;
  }
}
