@font-face {
  font-family: 'GothamBolder';
  src: url('../assets/fonts/Spotify-Font/Gotham-Black.otf') format('opentype');
}

@font-face {
  font-family: 'GothamBold';
  src: url('../assets/fonts/Spotify-Font/Gotham-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'GothamMedium';
  src: url('../assets/fonts/Spotify-Font/Gotham-Light.otf') format('opentype');
}

@font-face {
  font-family: 'GothamLight';
  src: url('../assets/fonts/Spotify-Font/Gotham-XLight.otf') format('opentype');
}

@font-face {
  font-family: 'GothamLighter';
  src: url('../assets/fonts/Spotify-Font/Gotham-Thin.otf') format('opentype');
}
