* {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background: linear-gradient(159.32deg, #0d273d 12.69%, #ac0ccf 116.57%);
  color: #fff;
  margin: 0;
  padding: 0;
}

h1,
ul {
  padding-left: 40px;
}

ul {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

svg {
  fill: #fff !important;
}

// "swiper" package overrides
.swiper {
  padding: 0 40px;
}

.swiper-slide {
  width: 200px !important; // override swiper default width to make it match the artist Cover width
}
