body,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.App {
  padding: 0;
  margin: 0;
  background: #191414;
  min-height: 100vh;
  font-family: 'Noto Sans JP', sans-serif;
}
