.Artist {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  color: #27366d;

  img {
    margin-bottom: 10px;
  }

  &__Albums {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    width: calc(100% - 40px); // 40px = 20px padding left & right
    padding: 20px;

    li {
      a {
        color: #27366d;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      span {
        display: block;
        text-align: center;
      }
    }
  }
}
