.Player {
  z-index: 99999;
  position: fixed;
  bottom: 0;
  background-color: #060606;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__current-track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 40px;

    &__left,
    &__center,
    &__right {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 12px;
      height: 100%;
    }

    &__left {
      justify-content: flex-start;
    }

    &__center {
      justify-content: center;
    }

    &__right {
      justify-content: flex-end;
    }
  }
}
