.Avatar {
  background: #191414;

  &--default {
    border-radius: 500px;
    height: 150px;
    width: 150px;
  }

  &--small {
    border-radius: 10px;
    height: 36px;
    width: 36px;
  }

  &--no-image {
    background: #191414;
    border-radius: 10px;
    height: 36px;
    width: 36px;
  }
}
