.Avatar {
  background: #191414;

  &--default {
    object-position: top;
    object-fit: cover;
    max-height: 300px;
    width: 100%;
  }

  &--small {
    border-radius: 10px;
    height: 36px;
    width: 36px;
  }

  &--no-image {
    background: #191414;
    border-radius: 10px;
    height: 36px;
    width: 36px;
  }
}
