.TrackListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  width: 550px;
  overflow: hidden;
  background: #18031d;
  color: #9d85a3;

  svg {
    fill: #f8daff !important;
  }

  &__details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

    &__text {
      width: 300px;

      &__song-name {
        color: #f8daff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-right: 10px;
  }
}
