.TrackListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  width: 470px;
  overflow: hidden;
  background: #18031d;

  &__details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}

.heart {
  cursor: pointer;
  height: 65px;
  width: 65px;
  background-image: url('https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;

  &:hover {
    background-position: right;
  }
}

.animate-heart {
  animation: heart-burst 0.8s steps(28) forwards;
}

@keyframes heart-burst {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
